body{
    background-color:#92a546
}
.myDiv {
    border: 5px outset #345d47;
    background-color: #528922;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}